.breadcrumb {
background-color: transparent;
padding: 0px;
}

.main .content {
  margin-top: 20px;
}
  
.main .content .card {
  background-color: #f4f5f7;
  /* justify-content: space-between; */
}
  
.main .content .card .card-header {
  border: none;
  background-color: transparent;
  color: #5e6c84;
  font-size: 15px;
}
  
.main .content .card .list-group {
  border: none
}
  
.main .content .card .list-group .list-group-item {
  margin: 8px;
}
  

.priorityLowest {
  background-color: #90EE90;
}

.priorityLow {
  background-color: #008000;
}

.priorityMedium {
  background-color: #FFA500;
}

.priorityHigh {
  background-color: #DC143C;
}


  

  