@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    font-family: 'Roboto', sans-serif;
}

.ant-btn-primary {
    background-color: #1677ff;
}

.ant-table-cell {
    width: calc(100%/6);
}



